#hero {
  padding-inline: 15px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: 1.3rem;
}

.presentation-container {
  text-align: center;
}

.presentation-container .container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btns-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.professions span {
  display: inline-block;
  padding-inline: 10px;
  color: #fff;
  border-radius: var(--border-radius-sm);
  background-color: unset;
}

span[datatype="full-stack"] {
  background-color: rgb(76, 76, 236);
}

span[datatype="game"] {
  background-color: var(--clr-deep-pink);
}

.profile-image-container,
.presentation-container {
  display: grid;
  place-items: center;
}

.profile-image-container img {
  width: var(--img-sz-sm);
  border-radius: var(--border-radius-sm);
  box-shadow: 2px 4px 2px 1px #00000070;
}
