#navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.719);
  padding-block: 15px;
  backdrop-filter: blur(10px);
}

#navbar div {
  width: 30%;
}

#navbar ul {
  display: flex;
  gap: 10px;

  font-weight: bold;
}
