body {
  font-family: var(--font-family);
  background-color: var(--bg);
  color: var(--txt-clr);

  width: 100svw;
  height: 100svh;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
